# Flask框架
Flask==2.3.2
Flask-Cors==4.0.0

# 数据库
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.19

# 环境变量管理
python-dotenv==1.0.0

# 文件上传处理
Pillow==9.5.0

# 日志
python-json-logger==2.0.7

# 工具库
requests==2.31.0
PyYAML==6.0.1